In [1]:
import pandas as pd

In [2]:
path=r'C:\Users\LENOVO\Documents\Naresh IT\EDA\EDA_Sessions\telecom_churn_data.csv'
pd.read_csv(path)

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2015,997132,385-7387,Female,54,75,no,yes,182.25,11.3,20.66,97,5,4.0,2,NaN
1996,2015,998086,383-9255,Male,45,127,no,no,273.45,9.3,30.99,116,3,3.0,1,0.0
1997,2015,998474,353-2080,NaN,53,94,no,no,128.85,15.6,14.60,110,16,5.0,0,0.0
1998,2015,998934,359-7788,Male,40,94,no,no,178.05,10.4,20.18,100,6,NaN,3,0.0
1999,2015,999961,414-1496,Male,37,73,no,no,326.70,10.3,37.03,89,6,3.0,1,1.0

In [3]:
path=r'C:\Users\LENOVO\Documents\Naresh IT\EDA\EDA_Sessions\telecom_churn_data.csv'
tele_churn=pd.read_csv(path)

**What is churn ?**

- the annual percentage rate at which customers stop subscribing to a service or employees leave a job.

In [4]:
tele_churn.columns

Index(['year', 'customer_id', 'phone_no', 'gender', 'age',
       'no_of_days_subscribed', 'multi_screen', 'mail_subscribed',
       'weekly_mins_watched', 'minimum_daily_mins', 'maximum_daily_mins',
       'weekly_max_night_mins', 'videos_watched', 'maximum_days_inactive',
       'customer_support_calls', 'churn'],
      dtype='object')

In [6]:
tele_churn.dtypes

year                        int64
customer_id                 int64
phone_no                   object
gender                     object
age                         int64
no_of_days_subscribed       int64
multi_screen               object
mail_subscribed            object
weekly_mins_watched       float64
minimum_daily_mins        float64
maximum_daily_mins        float64
weekly_max_night_mins       int64
videos_watched              int64
maximum_days_inactive     float64
customer_support_calls      int64
churn                     float64
dtype: object

In [9]:
tele_churn.select_dtypes(include='object').columns

Index(['phone_no', 'gender', 'multi_screen', 'mail_subscribed'], dtype='object')

In [10]:
tele_churn.select_dtypes(exclude='object').columns

Index(['year', 'customer_id', 'age', 'no_of_days_subscribed',
       'weekly_mins_watched', 'minimum_daily_mins', 'maximum_daily_mins',
       'weekly_max_night_mins', 'videos_watched', 'maximum_days_inactive',
       'customer_support_calls', 'churn'],
      dtype='object')

In [11]:
tele_churn['year']==2015

0       True
1       True
2       True
3       True
4       True
        ...
1995    True
1996    True
1997    True
1998    True
1999    True
Name: year, Length: 2000, dtype: bool

In [12]:
con=tele_churn['year']==2015
tele_churn[con]

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2015,997132,385-7387,Female,54,75,no,yes,182.25,11.3,20.66,97,5,4.0,2,NaN
1996,2015,998086,383-9255,Male,45,127,no,no,273.45,9.3,30.99,116,3,3.0,1,0.0
1997,2015,998474,353-2080,NaN,53,94,no,no,128.85,15.6,14.60,110,16,5.0,0,0.0
1998,2015,998934,359-7788,Male,40,94,no,no,178.05,10.4,20.18,100,6,NaN,3,0.0
1999,2015,999961,414-1496,Male,37,73,no,no,326.70,10.3,37.03,89,6,3.0,1,1.0

In [13]:
con=tele_churn['year']==2015
len(tele_churn[con])

2000

In [14]:
tele_churn['year'].unique()

array([2015])

In [15]:
tele_churn['year'].nunique()

1

In [17]:
tele_churn['customer_id']

0       100198
1       100643
2       100756
3       101595
4       101653
         ...
1995    997132
1996    998086
1997    998474
1998    998934
1999    999961
Name: customer_id, Length: 2000, dtype: int64

In [ ]:
tele_churn['customer_id']

In [18]:
tele_churn['churn'].value_counts(normalize=True)

churn
0.0    0.866667
1.0    0.133333
Name: proportion, dtype: float64

In [ ]:
tele_churn['churn'].value_counts(normalize=True)

In [23]:
con=tele_churn.groupby('churn')['weekly_mins_watched'].mean()
tele_churn[con]

KeyError: "None of [Index([264.65320023487965, 303.96125954198476], dtype='float64')] are in the [columns]"